input[type=tel]::-webkit-inner-spin-button,
    input[type=tel]::-webkit-outer-spin-button {
      -webkit-appearance: none; /* Oculta las flechas */
    }

form div{
  align-self: center;
  display: flex;
  justify-content: center;
}
select {
  min-width: 260px;
}

h2{
  color: #7F7F7F;
}

form{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  min-height: 50vh;
  min-width: 50%

}

.separador {
  background-color: #FFC2D1;
  min-height: 1rem;
  min-width: 50%;
}
.erroresFormulario {
  color: rgb(218, 93, 93);
  font-size: 50%;
  position: absolute;
}
button {
  border: none;
  color: #595959;
  background-color: #FFC2D1;
  border-radius: 20%;
  cursor: pointer;
  text-decoration: none;
  max-width: 15%;
  align-self: center;

}

.dob {
  display: flex;
  flex-direction: column;
  align-items: center ;

 
}

button:hover {

  color: white;
  background-color: #ff8fab;
}
.priceDetail {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  row-gap: 20px;
  position: absolute;
  max-width: 40%;
}
aside {
  max-width: 40%;
  position: absolute;
  right: 0;
  top: 40%;
}
form button {
 min-width: 110%;
}
.multipleButtons {
  display: flex;
  gap: 10%;
}